- const title = "Calories Calculator"
- const description = "Progressive web app for calculating calories"

doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)    
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="theme-color" content="#00ad45")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="manifest" href="/pwa/manifest.json")
  body(no-touch)
    app-header.header
      div.header__frame
        h1.header__title= title
    main.content.content--no-js
      noscript Please <a href="https://www.enable-javascript.com/" title="How to enable JavaScript in your browser">enable JavaScript</a> to view this app.
    footer.footer
      p.copyright
        span.copyright__years © 2019
        a.copyright__owner(
          href="https://gauslin.com",
          title="Ben Gauslin’s Website",
          target="_blank",
          rel="noopener",
        ) Ben Gauslin
    if (process.env.NODE_ENV === 'development')
      script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json")
