- const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

expand-able(
  id="expandable"
  label="zig-zag calories"
  target="zig-zag"
  watch="results"
)
ol(id="zig-zag")
  each day in days
    li
      label(
        aria-label=day
      )= day.substr(0, 3)
      number-ticker
