- const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

expand-able(
  id="expandable"
  for="zig-zag"
  label="zig-zag calories"
  watch="results"
)
ol(id="zig-zag")
  each day in days
    li
      label(aria-label=day)= day.substr(0, 3)
      number-ticker
