mixin optionsGroup(field, modifier)
  fieldset(
    id=modifier
    disabled=field.disabled
  )
    h2= field.headingLabel
      if field.headingNote
        span #{field.headingNote}
    radio-buttons(pending)
      each button, index in field.buttons
        label(
          for=button.id
          tabindex="0"
        )
          input(
            type="radio"
            name=field.name
            id=button.id
            value=button.value
            tabindex="-1"
            checked=(index === 0)
          )
          span #{button.label}

mixin numberInputs(list, modifier)
  fieldset(id=modifier)
    ul
      each item in list
        li(class=item.id)
          label(for=item.id)= item.label
          input(
            type="text"
            name=item.name
            id=item.id
            inputmode=item.inputmode
            pattern=item.pattern
            required
          )

form
  +optionsGroup(fields.sex, 'sex')
  +numberInputs(fields.measurements, 'measurements')
  +optionsGroup(fields.activityLevel, 'activity')
  +optionsGroup(fields.weightGoal, 'goal')
number-ticker(
  id="results"
  type="primary"
  label="Average Daily Calories"
)
